<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mazur.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:name=".Application"
            android:icon="@mipmap/ic_launcher_icon"
            android:roundIcon="@mipmap/ic_launcher_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="m">

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/admob_interstitial_tilda_ad_unit_id"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
                android:launchMode="singleTask"
                android:name=".ui.splash.SplashActivity"
                android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--&lt;!&ndash;&ndash;&gt;-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".ui.web_view.WebViewActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>


        <activity
                android:name="com.mazur.app.java_code.SecondActivity"
                android:label="@string/title_activity_main2"
                android:parentActivityName=".java_code.ContentActivity"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name="com.mazur.app.java_code.ContentActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.ActionBar"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.kk.kartinki"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>

    </application>
</manifest>
